body {
    display: block;
    background-color: #ff2;
    color: #008;
    font-family: "Times New Roman", serif;
}

#wrapper {
    background-color: #ccc;
    border: 1px solid #080;
    border-radius: 2em;
    min-width: 800px;
    max-width: 1280px;
    width: 80%; /* leave room for asides and nav. */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 8px #222;
}

@media only screen and (max-width: 800px) {
    #wrapper {
        min-width: 0;
        max-width: 800px;
        width: 100%;
        margin: 0;
        box-shadow: 0 0;
    }
}

header {
    text-align: center;
}
@media only screen and (min-width: 1024px) {
    header {
        margin-top: 2em;
        height: 150px;
        background-color: #ccc;
        background-image: url(images/banner.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    header h1 {
        display: none;
    }
}

h2 {
    text-align: center;
}

nav {
    border: 1px solid #080;
    border-radius: 1em;
    box-shadow: 2px 4px #222;
    background-color: #ccc;
    position: absolute;
    right: 1%;
    padding-left: 1em;
    padding-right: 1em;
}

@media only screen and (max-width: 1024px) {
    nav {
        border: none;
        border-bottom: 1px solid #080;
        border-top: 1px solid #080;
        border-radius: 0;
        box-shadow: none;
        position: inherit;
        right: inherit;
    }
}
nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

blockquote {
    font-size: 1.2em;
    border: 2px solid #88f;
    padding: 1em;
}

@media only screen and (max-width: 800px) {
    blockquote {
        padding: 0;
        margin: 1px;
    }
}

blockquote:before {
    color: #88f;
    content: open-quote;
    font-size: 4em;
    float: left;
    padding-right: 10px;
}

.waite:after {
    content: "-A.E. Waite: The Pictorial Key to the Tarot [1911]"
}

@media only screen and (min-width: 1024px) {
    blockquote img {
        float: right;
        margin-left: 1em;
    }
}

@media only screen and (max-width: 1023px) {
    blockquote img {
        width: 100%;
        margin: 0;
    }
}

aside {
    position: absolute;
    left: 0.5%;
    width: 10%; /* This causes the note to intrude on the content. It is intentional. */
    background: #ffc;
    box-shadow: 2px 2px #444;
    font-family: cursive;
    font-size: 0.6em;
    padding: 0.5em;
}

aside p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 1023px) {
    aside {
        position: inherit;
        display: block;
        width: auto;
        background: #fcc;
        color: #f00;
        box-shadow: none;
        font-family: inherit;
        font-style: italic;
    }
}

/* horizontal rules change the semantics of the page and also clear all content */
hr {
    width: 50%;
    border-style: hidden;
    clear: both;
}

@media only screen and (max-width: 800px) {
    hr {
        border-style: solid;
    }
}

.comments {
    margin: 1em;
}

footer {
    text-align: center;
    padding-bottom: 1em;
}
